/* Built desktop down */

* {
    margin: 0;
    padding: 0;
}


html, body {
    min-height: 100%; /* cover entire page */
    min-width: 100%;
}

body {
    background-image: url(images/waves.gif);
    background-position: center;
    background-size: 100%;
    background-repeat: repeat-y;
}
h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 35%;
    font-family: 'Rye', cursive;
    text-shadow: white 2px 2px;
    font-size: 80px;
}

h2 {
    font-family: 'Rye', cursive;
}

p {
    font-family: 'Rye', cursive;
    padding: 0.5rem;
}

li {
    font-family: 'Rye', cursive;
}

.hero {
    height: 400px;
    width: 100%;
    position:  absolute;
    z-index: 1;
    background-image: url(images/bassunderwater.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: black double 4px;
    margin-bottom: 2rem;
}



#introCard {
    position: absolute;
    top: 41%;
    width: 100%;

    margin-top: 1rem;
}

#storeImage {
    position: absolute;
    right: 50px;
    z-index: 2;
    border: 3px solid blue;
    margin-top: 1rem;

    
    
}

#introRunner {
    background-color: grey;
    height: 50px;
    width: 80%;
    position: relative;
    z-index: 1;
    top: 120px;
    padding: 0.5rem;
    left: 5%;

    border-bottom: 3px solid blue;
    border-top: 3px solid blue;
}

#introBlock {
    background-color: beige;
    position: absolute;
    left: 50px;

    padding: 2rem;
    border-radius: 1rem;
    width: 600px;
    z-index: 3;

    box-shadow: 4px 2px 2px 2px blue;
}

#wares li{
    text-align: right;
    display: block;
    padding: 0.5rem;
} 


#baitCard {
    margin-top: 25px;
    position: absolute;
    top: 900px;
    width: 100%;
}

#baitBlock {
    background-color: beige;
    position: absolute;
    right: 50px;

    padding: 2rem;
    border-radius: 1rem;
    width: 600px;
    z-index: 10;

    box-shadow: 4px 2px 2px 2px blue;
}

#baitImage {
    position: absolute;
    left: 50px;
    border: 3px solid blue;
    margin-top: 1rem;

    z-index: 2;
}

#baitRunner {
    background-color: grey;
    height: 50px;
    width: 80%;
    position: relative;
    z-index: 1;
    top: 120px;
    padding: 0.5rem;
    left: 5%;

    border-bottom: 3px solid blue;
    border-top: 3px solid blue;
}

th {
    text-align: left;
}

td {
    text-align: right;
    padding: 0.25rem;
}

#baitCenterColumn {
    width: 30px;
}

#respoolCard {
    position: absolute;
    text-align: center;
    top: 1800px;
    height: fit-content;
    background-image: url(images/respool.png);
    background-size: cover;
    background-repeat: no-repeat;
    right: 30px;
    left: 30px;

    border: 3px solid blue;

}

#respoolCard h2 {
    margin-top: 1rem;
    font-size: 80px;
    text-shadow: white 2px 2px;
}

#respoolCard p {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 24px;
    text-shadow: white 1px 1px;

    margin-bottom: 200px;
}

footer {
    position: fixed;
    padding: 1rem;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: cornflowerblue;
    z-index: 50;
}

footer ul {
    list-style: none;
    display: block;
    padding: 0.5rem;
}

@media screen and (max-width:1500px) {
    #introRunner, #baitRunner {
        display: none;
    }
    #introBlock {
        left: 0;
        width: 40%;

        margin-right: 2rem;
    }
    #storeImage {
        right: 0;

        width: 40%;
    }

    #baitImage {
        position: static;
        margin: auto;
        border: none;
        text-align: center;
        width: 90%;
    }

    #baitBlock {
        position: static;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
    }

    #respoolCard {
        width: fit-content;
        top: 2200px;
    }

    .hero {
        position: static;
    }

    h1 {
        position: static;
        padding-top: 3rem;
    }
}
